python-dotenv==1.0.1
Requests==2.31.0
SPARQLWrapper==2.0.0
SPARQLWrapper==2.0.0
typer==0.12.3


https_api_druid_datalegend_net_datasets_adamnet_heritage_sparql
https_ontology_inrae_fr_weather_sparql
http_aemet_linkeddata_es_sparql
https_premon_fbk_eu_sparql
https_lod_tamtamresearch_com_sparql
https_api_finto_fi_sparql
http_lod_b3kat_de_sparql
http_db_artsdata_ca_repositories_artsdata
https_www_foodie-cloud_org_sparql
https_colil_dbcls_jp_sparql
http_linkedgeodata_org_sparql
https_lov_linkeddata_es_dataset_lov_sparql